<div id="mySidepanel" class="sidepanel">
<ul>
  <li>
    <a href="admin.html">
      <i class="glyphicon glyphicon-home"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li>
    <a href="#" class="submenu-toggle">
      <i class="glyphicon glyphicon-user"></i>
      <span>User Management</span>
    </a>
    <ul class="nav submenu">
      <li><a href="group.html">Manage Groups</a> </li>
      <li><a href="users.html">Manage Users</a> </li>
   </ul>
  </li>
  <li>
    <a href="categorie.html" >
      <i class="glyphicon glyphicon-indent-left"></i>
      <span>Categories</span>
    </a>
  </li>
  <li>
    <a href="#" class="submenu-toggle">
      <i class="glyphicon glyphicon-th-large"></i>
      <span>Products</span>
    </a>
    <ul class="nav submenu">
       <li><a href="product.html">Manage Products</a> </li>
       <li><a href="add_product.html">Add Products</a> </li>
   </ul>
  </li>
  <li>
    <a href="media.html" >
      <i class="glyphicon glyphicon-picture"></i>
      <span>Media Files</span>
    </a>
  </li>
  <li>
    <a href="#" class="submenu-toggle">
      <i class="glyphicon glyphicon-credit-card"></i>
       <span>Sales</span>
      </a>
      <ul class="nav submenu">
         <li><a href="sales.html">Manage Sales</a> </li>
     </ul>
  </li>
  <li>
    <a href="#" class="submenu-toggle">
      <i class="glyphicon glyphicon-duplicate"></i>
       <span>Sales Report</span>
      </a>
      <ul class="nav submenu">
        <li><a href="sales_report.html">Sales by dates </a></li>
        <li><a href="monthly_sales.html">Monthly sales</a></li>
        <li><a href="daily_sales.html">Daily sales</a> </li>
        <li><a href="product_report.html">Product sales</a> </li>

      </ul>
  </li>
  <li>
    <a href="taxes.html" >
      <i class="far fa fa fa-truck"></i>
      <span>Shipping Taxes</span>
    </a>
  </li>
  <li>
    <a href="Feedbacks.html" >
    <i class="fas fa fa-envelope"></i>          
    <span>Feedbacks</span>
    </a>
  </li>
</ul>
</div>
