
<div id="mySidepanel" class="sidepanel">
  <ul>
    <li>
    </li>
  <li>
    <a href="home.html">
      <i class="glyphicon glyphicon-home"></i>
      <span>Home</span>
    </a>
  </li>
  
  <li>
  <a href="Cart.html" class="submenu-toggle">
    <i class="fa fa-shopping-cart" ></i>
       <span>Cart</span>
      </a>
  </li>
  <li>
    <a href="watchlist.html" class="submenu-toggle">
      <i class="fa fa-heart" ></i>
      <span>Watchlists</span>
    </a>
  </li>
  <li>
    <a href="my_orders.html" class="submenu-toggle">
      <i class="far fa fa-shopping-bag"></i> 
      <span>My Orders  </span>
    </a>
  </li>
  <li>
  <a href="contact.html" class="submenu-toggle">
    <i class="fas fa fa-phone"></i>         
    <span>Contact Us</span>
      </a>
  </li>
</ul>

</div>

